<script>
    function validation()
    {
      var v=/^[a-zA-Z ]{2,50}$/
      if(form1.txtname.value=="")
      {
        alert("Please Enter item Name")
        form1.txtname.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtname.value))
        {
          alert("Please Enter Only Alphabetical Name")
          form1.txtname.focus();
          return false;
        }
      }

      if(form1.txtdesc.value=="")
      {
        alert("Please Enter item Description")
        form1.txtdesc.focus();
        return false;
      }

      var v=/^[0-9]{1,7}$/
      if(form1.txtprice.value=="")
      {
        alert("Please Enter product price")
        form1.txtprice.focus();
        return false;
      }else if((parseInt(form1.txtprice.value))<=0)
      {
        alert("Please Enter item Price Greater than 0")
        form1.txtprice.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtprice.value))
        {
          alert("Please Enter Only Digits In item Price")
          form1.txtprice.focus();
          return false;
        }
      }

      var fname = document.getElementById("txtimg").value;
      var ext = fname.substr(fname.lastIndexOf(".")+1).toString().toLowerCase();

      if(document.getElementById("txtimg").value == "")
      {
        if(!(ext=="png" || ext=="jpg" || ext=="webp" || ext=="jpeg"))
        {
            alert("Please Select Proper item Image..");
            return false;
        }
      }
    }
</script>
<form method="post" action="/update_item" enctype="multipart/form-data" name="form1">
    <h1 style="text-align: center; background-color: blanchedalmond; color: #8a2891;">Edit Items</h1>
    <div class="col-md-6">
    <div class="row my-5">
      
      <div class="col-md-6">
    
    
    <div class="form-group">
      <label for="exampleInputEmail1">Product Name</label>
      <input type="text" class="form-control" name="txtname" placeholder="Enter Product Name" value="<%= itemdetail[0].item_name %>">
    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <textarea class="form-control" name="txtdesc" placeholder="Enter Description"><%= itemdetail[0].description %>"</textarea>
    </div>

    

    <div class="form-group">
        <label for="exampleInputEmail1">Price</label>
        <input type="text" class="form-control" name="txtprice" placeholder="Enter Price" value="<%= itemdetail[0].price %>">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Product Image</label>
        <input type="file"  class="form-control" name="txtimg" id="txtimg" >
        <img src="<%= itemdetail[0].item_img%>" style="width: 150px; height: 150px;">
    </div>
    
    <button type="submit" class="btn btn-primary" onclick="return validation()">Update</button>
    <input type="hidden" name="txtiid" value="<%= itemdetail[0].item_id%>">
  
  
    </div>
    </div>
    </div>
</form>

